<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Join</title>
</head>
  <body>
    <h1>Guess the number</h1>
    <div id="links">
      <a href="/roll-dice/1">1</a>
      <a href="/roll-dice/2">2</a>
      <a href="/roll-dice/3">3</a>
      <a href="/roll-dice/4">4</a>
      <a href="/roll-dice/5">5</a>
      <a href="/roll-dice/6">6</a>
    </div>
    <div id="result">
      <p>You guessed: {{guess}}</p>
      <p>The roll was: {{roll}}</p>
      <p>{{message}}</p>
    </div>

  </body>
</html>